body{
    color: #F2F2F2;
    background-image: linear-gradient(#1E1E22, #38454E);
    font-weight: 200;

}

h1{
    font-size: 9vw;
}


h3{
    font-weight: 600;
}

.div1{
    color: #F2F2F2;

}



.button {
    background-color: #ebebeb;
    border: none;
    border-radius: 25px;
    color: rgb(35, 35, 35);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
        font-family: "Raleway", sans-serif;
    
  }


  .move{
    
  }

.fwexbox1owo{
    margin-left: 30%;
    margin-top: 20%;
    justify-content: end;
    /*border: 2px dashed white;*/
    width:fit-content;
    height:fit-content;
    padding: 5%;
    font-size-adjust:initial;
    position: absolute;

}


.eggbox360{

    height: fit-content;
    width: 70%;
    margin-top: 80%;
    padding: 5%;
    font-family: "Raleway", sans-serif;

    font-style: normal;
}

.eggbox{
    

    height: fit-content;
    width: 70%;
    margin-left: 20%;
    margin-top: 20%;
    margin-bottom: 40%;
    padding: 5%;
    font-family: "Raleway", sans-serif;

    font-style: normal;
    text-align: right;
 

}

.line_thing{
    position: absolute;
    z-index: -1;
    margin-top: 10%;
    margin-left: 79.5%;
    height: 100%;

}

.line_thing2{
    position: absolute;
    z-index: -1;
    margin-top: 37%;
    margin-left: 20%;
    margin-right: 1%;
    width: 70%;


}

