/* https://colorhunt.co/palette/1a120b3c2a21d5cea3e5e5cb */

body {
  background-color: #1a120b;
  display: flex;
  text-align: center;
  margin: auto;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* color: #e5e5cb; */
  color: #e1e1e1;
  font-size: 1.1rem;
}

.outer{
  border: 2px dashed white;
  width:400px;
  height:330px;
  line-height: 80px;
  padding: 20px;
  gap: 1rem;

  flex-direction: column;



}

.p{
  
}

.inner{
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 5px solid crimson;
  background-color: rgb(22, 172, 172);
  

}

.noshrink{
  flex-shrink: 0;
}

